PetLine/WebContent/wsdl/WebServiceTrackerImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.petline" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.petline" xmlns:intf="http://service.petline" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.petline" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="trackerService">
    <complexType>
     <sequence>
      <element name="idTracker" type="xsd:string"/>
      <element name="latitud" type="xsd:string"/>
      <element name="longitud" type="xsd:string"/>
      <element name="temperatura" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="trackerServiceResponse">
    <complexType>
     <sequence>
      <element name="trackerServiceReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="trackerServiceResponse">

      <wsdl:part element="impl:trackerServiceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="trackerServiceRequest">

      <wsdl:part element="impl:trackerService" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="WebServiceTrackerImpl">

      <wsdl:operation name="trackerService">

         <wsdl:input message="impl:trackerServiceRequest" name="trackerServiceRequest">

       </wsdl:input>

         <wsdl:output message="impl:trackerServiceResponse" name="trackerServiceResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WebServiceTrackerImplSoapBinding" type="impl:WebServiceTrackerImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="trackerService">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="trackerServiceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="trackerServiceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WebServiceTrackerImplService">

      <wsdl:port binding="impl:WebServiceTrackerImplSoapBinding" name="WebServiceTrackerImpl">

         <wsdlsoap:address location="http://localhost:8085/PetLine/services/WebServiceTrackerImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
